
  /*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
  .findbtn {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: #1a74a1;
   }

   .findbtn:hover{
    background-color:#1a74a1;
  }

  .findbtn:focus{
    background-color: #1a74a1;
  }